.title {
	font-family: 'Croissant One', cursive;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	color: #fff;
	font-size: 4em;
	display: block;
	z-index: 10002;
}

.description {
	position: absolute;
	top: 90px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	color: #fff;
	font-size: 1.35em;
	display: block;
	opacity: 0.7;
	z-index: 10002;

	a {
		color: #03a9f4;
	}

	transition: opacity 2s all;
	opacity: 0.7;
	transition-delay: 2s;
}

.header {
	transition: opacity 2s all;
	opacity: 1;
	transition-delay: 2s;

	&:hover {
		pointer-events: none;
		opacity: 0.1;
		transition-delay: 0s;
	}
}
