.title {
	font-family: 'Croissant One', cursive;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	color: #fff;
	font-size: 4em;
	display: block;
	pointer-events: none;
	z-index: 10002;
}

.description {
	position: absolute;
	top: 90px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	color: #fff;
	font-size: 1.35em;
	display: block;
	opacity: 0.7;
	pointer-events: none;
	z-index: 10002;

	a {
		color: #03a9f4;
	}
}

.container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url('../../Assets/background.png');
	background-size: cover;
}
