.container {
	display: block;
	list-style: none;
	position: fixed;
	max-height: 200px;
	top: 110px;
	background: #f5f5f5;
	overflow-y: scroll;
	right: 30px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding: 15px;
	border-radius: 8px;

	li {
		margin-bottom: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		& > strong {
			width: 75px;
			text-align: center;
			color: #fff;
			padding: 8px 10px;
			border-radius: 8px;
			margin-right: 10px;
		}

		&:last-child {
			margin: 0;
		}
	}
}

.container::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: transparent;
	display: none;
}
